#foot {
    margin: 0;
}

.auth-plain {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}

.left-solid {
    margin-top: 0px;
    margin-bottom: 0px;
}

.signup-panel {
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.signup-panel form input, .signup-panel form span {
    height: 50px;
}

.signup-panel .welcome {
    text-align: center;
    margin-left: 0;
}

.signup-panel p {
    font-weight: 200;
    text-align: center;

}

.signup-panel .button {
    margin-left: 35%;
}

.signup-panel i {
    font-size: 30px;
    line-height: 50px;
}

.profile-card {
    padding: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 2rem 0;
}

.profile-card .profile-info {
    padding: 1rem;
}
.profile-card .profile-info h2 {
    margin-top: 0;
    text-align: center;
}

.profile-card .profile-info p {
    text-align: center;
}


