<ion-tabs class="tabs-icon-top tabs-color-active-positive">
      <!-- Files Tab -->
      <ion-tab title="Fichiers" icon-off="ion-ios-list" icon-on="ion-ios-list" href="#/tab/files">
        <ion-nav-view name="tab-files"></ion-nav-view>
      </ion-tab>

      <!-- Upload Tab -->
      <ion-tab title="Ajout" icon-off="ion-android-add-circle" icon-on="ion-android-add-circle" href="#/tab/upload">
        <ion-nav-view name="tab-upload"></ion-nav-view>
      </ion-tab>

      <!-- Remove Tab -->
      <ion-tab title="Suppression" icon-off="ion-android-remove-circle" icon-on="ion-android-remove-circle" href="#/tab/remove">
        <ion-nav-view name="tab-remove"></ion-nav-view>
      </ion-tab>
</ion-tabs>
